<footer>
    <div class="container"></div>
    <div class="row">
      <div class="col-4"><h2>About Us </h2>
        <hr>
        <p>RoadWay is an innovative online
         car rental platform, simplifying the process of renting a vehicle for your travel
          adventures. With RoadWayest, customers have access to a diverse range of vehicles tailored to meet their specific travel requirements. Whether you're seeking the convenience of a compact car or the comfort and style of a luxury SUV, RoadWayest has you covered. Our user-friendly platform ensures a seamless booking experience, allowing customers to find the perfect vehicle for their journey with ease. Experience the freedom to explore the open road with RoadWayest</p>
      </div>
      <div class="col-4"><h2>CONTACT</h2>
        <hr>
        <p>RoadWay:Tunis</p>
        <p><i class="fa fa-phone"></i>21237025</p>
        <p><i class="fa fa-envelope"></i> elifarihab@gmail.com</p>
        
  
      </div>
      <div class="col-4"><h2>Newsletter Subscription</h2>
       
      <hr>
      <p>Enter your email address to receive the latest news.</p>
      
      <form
      name="form"
     
      novalidate
    >
      <div class="form-group d-flex align-items-center">
        
        <div class="input-box">
            
            <input type="email" name="email" placeholder="Email Address" required>
        </div>
        <button class="bouton btn-lg buy ml-2">Inscription</button>
      </div>
      
    </form>
    </div>
      
    </div>
  
  </footer>