<div class="back">
    
    <form action="reservation.php" method="post">
        <h2 class="heading"><span>Book Now </span></h2>
        <div class="input-box">
            <input type="text" name="text" placeholder="Full Name" required>
            <input type="email" name="email" placeholder="Email Address" required>
        </div>
        <div class="input-box">
            <input type="tel" name="number" placeholder="Mobile Number" required>
            <input type="text" id="phone" name="car name" placeholder="car name"  required>
        </div>
      
        <hr>
        <div class="input-box">
            <input type="date" id="checkin-date" name="checkin" required>
            <input type="date" id="checkout-date" name="checkout" required>
        </div>
      
        <div class="input-box">
            <label for="car-selection">Name of Car</label>
            <select id="car-selection" name="car_name" required>
                <option value="Toyota Camry">Toyota Camry</option>
                <option value="Honda Civic">Honda Civic</option>
                <!-- Add more car options as needed -->
            </select>
        </div>
        <hr>
        <textarea name="msg" id="" cols="30" rows="10" placeholder="Your Message" required></textarea>
    <input type="submit" value="Book" class="btn">
        
    </form>
</div>
